{% extends "layout.html" %}
{% block content %}
    <legend class="border-bottom mb-4">About</legend>
    <p>Application created by Nick Partalis. Source code at <a href="https://github.com/nickpartalis/Task_reminder">GitHub</a>.</p>
    <p>Technologies used:
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>HTML/CSS</li>
            <li>Bootstrap</li>
            <li>PostgreSQL</li>
        </ul>
    </p>
    <p>Features:
        <ul>
            <li>User authentication and authorization</li>
            <li>Create/Update/Delete tasks, with or without a scheduled date</li>
            <li>Update account info</li>
            <li>Password reset via email</li>
        </ul>
    </p>
    <p>Planned features:
        <ul>
            <li>Email notifications for tasks scheduled for the day</li>
        </ul>
    </p>
{% endblock %}