{% extends "layout.html" %}
{% block content %}
    <legend class="border-bottom mb-4">My Tasks</legend>
    <div class="row g-3">
        {% for task in tasks %}
            <div class="col-xl-4 col-md-6">
                <div class="card text-justify mb-3 h-100">
                    <a href="{{ url_for('tasks.task', task_id=task.id) }}" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <span class="card-text ms-auto">
                                {{ task.date_tasked if task.date_tasked else "" }}
                            </span>
                        </div>
                        <p class="card-text">{{ task.content }}</p>
                    </div>
                    <div class="card-footer text-muted d-flex">
                        <small class="ms-auto">Created: {{ task.date_created.strftime("%Y-%m-%d") }}</small>
                    </div>
                </div>    
            </div>

        {% endfor %} 
    </div>
{% endblock content %}